/* Development styles */

.row {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0;
}

body {
  gap: 50px !important;
}

.header {
  position: relative !important;
}

